[Unit]
Description=Jenkins Server

[Service]
User=jenkins
WorkingDirectory=/opt/jenkins/
ExecStart=/opt/jenkins/start-jenkins.sh
Type=simple
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
